.fixNav{
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 100000000;
}

#slider-range{
    border: 0;
    color: #ffffff;
    font-weight: normal;
}

.single .slideInUp1{
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: slideInUp;
}

.single .slideInRight1{
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: slideInRight;
}

#horizontalTab{
    display: block;
    width: 100%;
    margin: 0px;
}

#toast-container{
    margin-top: 80px !important;
}

.search_result li{
    list-style: none;
    margin: 5px;
}

.search_result li:hover{
    background-color: pink;
}

#keyword{
    width: 513px;
}

.dropdown #header_dropdow{
    float: left;margin-left: 100px;
    margin-top: 25px;
    list-style: none;
    text-decoration: none;
}

.dropdown .header_ul_margin{
    margin-top: 50px;
    margin-left: 100px;
}

.dropdown .d_block{
    display: block;
}
