.fixNav{
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 100000000;
}

#slider-range{
    border: 0;
    color: #ffffff;
    font-weight: normal;
}

.single .slideInUp1{
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: slideInUp;
}

.single .slideInRight1{
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: slideInRight;    
}
